* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  background: #fff;
}

/* Nav main */
#nav-main {
  background: #262626;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ccc6cc;
  padding-top: 5px;
}

#nav-content {
  width: 790px;
  margin: auto;
}

/* brand logo */
#logo {
  float: left;
}

.color-title {
  color: #1ee371;
}

/* Nav Links */
#menu {
  float: right;
  padding: 13px;
}

#menu a {
  text-decoration: none;
  padding: 5px 8px;
  font-size: 16px;
  font-weight: 500;
}

#menu a:link {
  color: #fff;
}

#menu a:visited {
  color: #fff;
}

#menu a:hover {
  color: #1ee371;
}

#menu a:active {
  color: #22ff7f;
}

/* Content main */

#content-main {
  width: 790px;
  height: auto;
  margin: 20px auto 10px auto;
}

/* Content main Post */

.title-main {
  text-decoration: none;
  font-weight: 600;
  color: #262626;
}

#post {
  height: 120px;
  margin-top: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #f2f1f0;
}

.img-post {
  width: 180px;
  border-radius: 10px;
  float: left;
  margin-right: 20px;
}

.title-post {
  text-decoration: none;
  font-weight: 600;
  font-size: 22px;
  color: #262626;
  display: block;
  padding: 15px 25px 0 0;
}

#post a:hover {
  color: #17b057;
}

.hour-post {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  color: #8c8c8c;
}
